~/codes/learning/bincom/part-1/data-scrapping-1/json-files/* linguist-vendored
~/codes/learning/bincom/part-1/data-scrapping-1/text-files/* linguist-vendored
~/codes/learning/bincom/part-1/data-scrapping-1/files/* linguist-vendored
jquery.js linguist-vendored=false